:root {
    --cellSize: 20px;
}

.cell {
    height: var(--cellSize);
    width: var(--cellSize);
    float: left;
    background-color: #ddcb9b;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.start {
    background-color: red;
}

.end {
    background-color: blue;
}

.obstacle {
    background-color: black;
}
.open {
    background-color: lime;
}
.closed {
    background-color: pink;
}

.grid {
    height: auto;
    width: auto;
    overflow: hidden;
}

.grid-row {
    float: left;
    display: flex;
    width: calc((var(--cellSize)) * 80);
}

button {
    height: 50px;
    width: 100px;
    margin: 20px;
}

.button-wrapper {
    height: auto;
}
