:root {
    --cellSize: 20px;
    background-color: #ddcb9b;
}

.cell {
    height: var(--cellSize);
    width: var(--cellSize);
    float: left;
    background-color: white;
    padding: 0;
    margin: 0;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.start {
    background-color: blue;
}

.end {
    background-color: red;
}

.obstacle {
    background-color: black;
}
.open {
    background-color: rgb(159, 248, 159);
}
.closed {
    background-color: rgb(233, 190, 231);
}
.path {
    background-color: #d400ff;
}

.grid {
    height: auto;
    width: auto;
    overflow: hidden;
    margin-left: 5px;
}

.grid-row {
    float: left;
    display: flex;
}

button {
    height: 50px;
    width: 150px;
    margin-right: 20px;
    font-size: 20px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
    transition: 0.3s;
}

button:hover {
    background-color: cyan;
}

#findpath-button {
    background-color: #619dac;
    color: white;
    margin-left: 80px;
}

.info {
    width: 50%;
    font-size: 25px;
    text-align: center;
}

.button-wrapper {
    height: auto;
}
