:root {
    --cellSize: 20px;
    background-color: #ddcb9b;
}

.cell {
    height: var(--cellSize);
    width: var(--cellSize);
    float: left;
    background-color: white;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.start {
    background-color: #ecfa28;
}

.end {
    background-color: blue;
}

.obstacle {
    background-color: black;
}
.open {
    background-color: lime;
}
.closed {
    background-color: red;
}
.path {
    background-color: #9d11ee;
}

.grid {
    height: auto;
    width: auto;
    overflow: hidden;
}

.grid-row {
    float: left;
    display: flex;
    width: calc((var(--cellSize)) * 80);
}

button {
    height: 50px;
    width: 100px;
    margin: 20px;
}

.on {
    background-color: #207777;
}

.button-wrapper {
    height: auto;
}
